doctype html
html(lang="ru")
    head
        include includes/head

        title Отзывы
    body 
        include includes/header
        
        main 
            .inner-wrapper 
                .container 
                    ul.breadcrumbs 
                        li.breadcrumb__item 
                            a(href="#").breadcrumb__link Главная   
                        li.breadcrumb__item Отзывы
                    .reviews__main
                        .reviews__textblock 
                            h1 Отзывы о <b>DESIGN.VAGNER</b>
                            p Мы видим будущее иначе. Мы вызываем вопросы стандартов. Мы внесли революцию в область охлаждения с помощью передовых технологий, когда другие сомневались. Почему? #[br] Потому что мы верим в свои силы. Потому что мы видим возможности, которые остальные не видят. И если вы тоже видите этот революционный и более устойчивый будущий, то вас ждет место в DESIGN.VAGNER.
                        a(href="#").reviews__main-circle
                            .main-circle__head Отзывы
                            .main-circle__img 
                                img(src="img/ya-logo.png", alt="")
                            .main-circle__rating 
                                span 4,4
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="31" viewBox="0 0 32 31" fill="none">
                                    <path d="M15.0767 1.21993C15.4183 0.398634 16.5817 0.398636 16.9233 1.21993L20.5265 9.883C20.6705 10.2292 20.9961 10.4658 21.3699 10.4958L30.7224 11.2456C31.6091 11.3166 31.9686 12.4232 31.2931 13.0018L24.1674 19.1057C23.8826 19.3496 23.7583 19.7324 23.8453 20.0972L26.0223 29.2236C26.2287 30.0889 25.2874 30.7727 24.5283 30.3091L16.5213 25.4184C16.2012 25.2229 15.7988 25.2229 15.4787 25.4184L7.47169 30.3091C6.71259 30.7727 5.77134 30.0889 5.97773 29.2236L8.15472 20.0972C8.24173 19.7324 8.11736 19.3496 7.83257 19.1057L0.706938 13.0018C0.0314007 12.4232 0.390928 11.3166 1.27758 11.2456L10.6301 10.4958C11.0039 10.4658 11.3295 10.2292 11.4735 9.883L15.0767 1.21993Z" fill="#FFDD05"/>
                                </svg>

                .reviews-box
                    .container 
                        .reviews__item
                            .reviews__item-author 
                                .item-author__name Константин
                                .blog__item-date 12.10.2022
                            .reviews__item-content 
                                .item-content__head Дизайн-проект под ключ
                                .item-content__body 
                                    p Заказывал дизайн-проект своей квартиры в 2020-21. К сожалению, пандемия внесла коррективы и наш ремонт все еще продолжается. Хотя «свет в конце тоннеля» уже виден и квартира потихоньку обретает желаемый вид работа студии по заказу четко построена: анкета для понимания запроса, варианты планировки, коллажи для разработки цветового решения и т.д. Каждый этап четко прописан, указанные сроки соблюдаются. Юлия и Александр очень тщательно подходят к своей работе. Александр старается учесть все технические «мелочи» при подготовке чертежей. А Юлия-это креатив и красота. После передачи проекта при самостоятельном ремонте не бросают. Всегда можно обратиться за советом, Юля никогда не отказывает, помогает, если необходима замена чего-либо по проекту. Мы заказывали, в том числе, услугу комплектации объекта. Очень рекомендую, так как это действительно бережет время и нервы при закупке. Моя оценка - отлично. Я рекомендую
                        .reviews__item
                            .reviews__item-author 
                                .item-author__name Елена
                                .blog__item-date 12.10.2022
                            .reviews__item-content 
                                .item-content__head Дизайн-проект под ключ
                                .item-content__body 
                                    p Заказывал дизайн-проект своей квартиры в 2020-21. К сожалению, пандемия внесла коррективы и наш ремонт все еще продолжается. Хотя «свет в конце тоннеля» уже виден и квартира потихоньку обретает желаемый вид работа студии по заказу четко построена: анкета для понимания запроса, варианты планировки, коллажи для разработки цветового решения и т.д. Каждый этап четко прописан, указанные сроки соблюдаются. Юлия и Александр очень тщательно подходят к своей работе. Александр старается учесть все технические «мелочи» при подготовке чертежей. 
                        .reviews__item
                            .reviews__item-author 
                                .item-author__name Александр
                                .blog__item-date 12.10.2022
                            .reviews__item-content 
                                .item-content__head Дизайн-проект под ключ
                                .item-content__body 
                                    p Заказывал дизайн-проект своей квартиры в 2020-21. К сожалению, пандемия внесла коррективы и наш ремонт все еще продолжается. Хотя «свет в конце тоннеля» уже виден и квартира потихоньку обретает желаемый вид работа студии по заказу четко построена: анкета для понимания запроса, варианты планировки, коллажи для разработки цветового решения и т.д. Каждый этап четко прописан, указанные сроки соблюдаются. Юлия и Александр очень тщательно подходят к своей работе. Александр старается учесть все технические «мелочи» при подготовке чертежей. А Юлия-это креатив и красота. После передачи проекта при самостоятельном ремонте не бросают. Всегда можно обратиться за советом, Юля никогда не отказывает, помогает, если необходима замена чего-либо по проекту. Мы заказывали, в том числе, услугу комплектации объекта. Очень рекомендую, так как это действительно бережет время и нервы при закупке. Моя оценка - отлично. Я рекомендую
                        .reviews__item
                            .reviews__item-author 
                                .item-author__name Роман
                                .blog__item-date 12.10.2022
                            .reviews__item-content 
                                .item-content__head Дизайн-проект под ключ
                                .item-content__body 
                                    p Заказывал дизайн-проект своей квартиры в 2020-21. К сожалению, пандемия внесла коррективы и наш ремонт все еще продолжается. Хотя «свет в конце тоннеля» уже виден и квартира потихоньку обретает желаемый вид работа студии по заказу четко построена: анкета для понимания запроса, варианты планировки, коллажи для разработки цветового решения и т.д. Каждый этап четко прописан, указанные сроки соблюдаются. Юлия и Александр очень тщательно подходят к своей работе. Александр старается учесть все технические «мелочи» при подготовке чертежей. 
                        .reviews__item
                            .reviews__item-author 
                                .item-author__name Яна
                                .blog__item-date 12.10.2022
                            .reviews__item-content 
                                .item-content__head Дизайн-проект под ключ
                                .item-content__body 
                                    p Заказывал дизайн-проект своей квартиры в 2020-21. К сожалению, пандемия внесла коррективы и наш ремонт все еще продолжается. Хотя «свет в конце тоннеля» уже виден и квартира потихоньку обретает желаемый вид работа студии по заказу четко построена: анкета для понимания запроса, варианты планировки, коллажи для разработки цветового решения и т.д. Каждый этап четко прописан, указанные сроки соблюдаются. Юлия и Александр очень тщательно подходят к своей работе. Александр старается учесть все технические «мелочи» при подготовке чертежей. 
                        .reviews__item
                            .reviews__item-author 
                                .item-author__name Роман
                                .blog__item-date 12.10.2022
                            .reviews__item-content 
                                .item-content__head Дизайн-проект под ключ
                                .item-content__body 
                                    p Заказывал дизайн-проект своей квартиры в 2020-21. К сожалению, пандемия внесла коррективы и наш ремонт все еще продолжается. Хотя «свет в конце тоннеля» уже виден и квартира потихоньку обретает желаемый вид работа студии по заказу четко построена: анкета для понимания запроса, варианты планировки, коллажи для разработки цветового решения и т.д. Каждый этап четко прописан, указанные сроки соблюдаются. Юлия и Александр очень тщательно подходят к своей работе. Александр старается учесть все технические «мелочи» при подготовке чертежей. 
                    .pagination-box.container
                        ul.pagination 
                            li.pagination__item 
                                a(href="#").pagination__link.current 1
                            li.pagination__item 
                                a(href="#").pagination__link 2
                            li.pagination__item 
                                a(href="#").pagination__link 3
                            li.pagination__item 
                                a(href="#").pagination__link 4
                            li.pagination__item 
                                a(href="#").pagination__link 5
                            li.pagination__item 
                                a(href="#").pagination__link . . . 
                            li.pagination__item 
                                a(href="#").pagination__link 12
                
                .feedback-white
                    .feedback 
                        .container 
                            .centered-heading 
                                h2 Хотите оставить отзыв?
                                .subheading.feedback__subheading Оставьте заявку, мы вам перезвоним в течение 24 часов
                            .feedback-form__box
                                form(action="#")
                                    .feedback-fields__group 
                                        .feedback-field__item.error 
                                            p.feedback-field__name Ваше имя
                                            input(type="text").form__input
                                            .error-icon 
                                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
                                                    <line x1="1.35355" y1="0.646447" x2="16.3536" y2="15.6464" stroke="#EC0000"/>
                                                    <line y1="-0.5" x2="21.2132" y2="-0.5" transform="matrix(-0.707107 0.707107 0.707107 0.707107 16 1)" stroke="#EC0000"/>
                                                </svg>
                                        .feedback-field__item 
                                            p.feedback-field__name Телефон
                                            input(type="tel").form__input
                                            .error-icon 
                                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
                                                    <line x1="1.35355" y1="0.646447" x2="16.3536" y2="15.6464" stroke="#EC0000"/>
                                                    <line y1="-0.5" x2="21.2132" y2="-0.5" transform="matrix(-0.707107 0.707107 0.707107 0.707107 16 1)" stroke="#EC0000"/>
                                                </svg>
                                    .feedback-fields__group
                                        .feedback-field__item 
                                            p.feedback-field__name E-mail
                                            input(type="email").form__input
                                            .error-icon 
                                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
                                                    <line x1="1.35355" y1="0.646447" x2="16.3536" y2="15.6464" stroke="#EC0000"/>
                                                    <line y1="-0.5" x2="21.2132" y2="-0.5" transform="matrix(-0.707107 0.707107 0.707107 0.707107 16 1)" stroke="#EC0000"/>
                                                </svg>
                                        .feedback-field__item 
                                            p.feedback-field__name Ваш проект
                                            .form-choose 
                                                .form-choose__head.jsSelectHead 
                                                    input(type="hidden").jsHiddenInput
                                                    span.choose__head-text.jsHeadText Дизайн квартиры
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="10" viewBox="0 0 19 10" fill="none">
                                                        <path d="M1 1L10.0426 9L18 1" stroke="black"/>
                                                    </svg>
                                                ul.form-choose__body.jsSelectBody
                                                    li.choose-body__item.jsBodyItem Дизайн квартиры
                                                    li.choose-body__item.jsBodyItem Дизайн 1
                                                    li.choose-body__item.jsBodyItem Дизайн 2
                                                    li.choose-body__item.jsBodyItem Дизайн 3

                                    .feedback-field__item 
                                        p.feedback-field__name Комментарий
                                        input(type="text").form__input
                                        
                                    
                                    .feedback-bottom.column 
                                        label.control.control-checkbox
                                            span Я даю согласие на обработку моих персональных данных согласно <a href="#"><ins>политике конфиденциальности</ins></a>
                                            input(type="checkbox")
                                            span.control_indicator
                                        button.btn.large Отправить заявку





        include includes/footer