doctype html
html(lang="ru")
    head
        include includes/head

        title Поиск
    body 
        include includes/header
        
        main 
            .inner-wrapper 
                .container 
                    ul.breadcrumbs 
                        li.breadcrumb__item 
                            a(href="#").breadcrumb__link Главная   
                        li.breadcrumb__item Поиск
                    h1 Поиск
                    .search__items-box.content-box 
                        .search__item 
                            a(href="#").search__item-head Заголовок 
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quod at ad officiis eos dolores, tenetur itaque impedit dolorum iste mollitia adipisci quidem harum omnis soluta reprehenderit molestiae sed quam.
                            .search__change Изменен 23.11.23
                        .search__item 
                            a(href="#").search__item-head Заголовок 
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quod at ad officiis eos dolores, tenetur itaque impedit dolorum iste mollitia adipisci quidem harum omnis soluta reprehenderit molestiae sed quam.
                            .search__change Изменен 23.11.23
                        .search__item 
                            a(href="#").search__item-head Заголовок 
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quod at ad officiis eos dolores, tenetur itaque impedit dolorum iste mollitia adipisci quidem harum omnis soluta reprehenderit molestiae sed quam.
                            .search__change Изменен 23.11.23


        include includes/footer