.modal 
    .modal-inner
        .modal-head Заказать обратный звонок
        form(action="#")
            .feedback-field__item 
                p.feedback-field__name Ваше имя
                input(type="text").form__input
            .feedback-field__item 
                p.feedback-field__name Телефон
                input(type="tel").form__input 
            .feedback-bottom 
                label.control.control-checkbox
                    span Я даю согласие на обработку моих персональных данных согласно <a href="#"><ins>политике конфиденциальности</ins></a>
                    input(type="checkbox")
                    span.control_indicator
                button.btn.large Отправить заявку

