footer.footer 
    .container
        .footer-section
            a(href="#").footer-logo
                img(src="img/svg/footer-logo.svg", alt="") 
            .footer-contacts 
                a(href="mailto:info@design-vagner.ru") info@design-vagner.ru 
                a(href="tel:+79277320830").footer-tel +7 (927) 732-08-30
        .footer-section 
            .footer-copy © DESIGN.VAGNER, 2023 Все права защищены.
            .footer-links 
                a(href="#") Политика конфиденциальности
                .developers 
                    ins Разработка сайта
                    span —
                    a(href="https://www.abcwww.ru/") «АБВ сайт» 
                    
                



script(src="js/jquery-3.6.1.js")
script(defer src="js/fancybox.js")   
script(defer src="js/swiper.js")
script(defer src="js/imagesLoaded.js") 
script(defer src="js/masonry.js") 
script(defer src="js/gsap.min.js") 
script(defer src="js/scrollTrigger.js") 
script(src="js/scrollSmoother.js") 
script(defer src="js/splitting.js") 
script(defer src="js/ukiyo.js") 
script(src="js/main.js") 
